.idea-container {
  background-color: #394551;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
  position: relative;
  animation: fly-in 0.2s ease-out;

  word-wrap: break-word;
}

.idea-text {
  color: #f2f2f2;
  font-size: 1.5rem;
  margin: 0;
}

@keyframes fly-in {
  from {
    transform: translateX(100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.idea-container:nth-child(even) {
  animation-direction: reverse;
}

@media screen and (max-width: 1200px) {
  .game-page-ideas {
    columns: 3;
  }
}

@media screen and (max-width: 900px) {
  .game-page-ideas {
    columns: 2;
  }
}

@media screen and (max-width: 600px) {
  .game-page-ideas {
    columns: 1;
  }
}
